*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}

.navUpdate{
    display: flex;
    justify-content: center;
}
.ulUpdate{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.ulUpdate li{
    list-style-type: none;
    font-family: 'Average Sans', sans-serif;
    font-size: 20px;
    color: black;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 10px;
}

.ulUpdate li:hover{
    background-color: #346077;
    color: white;

}

.afficheAllLink{
    text-decoration: none;
}

.ulUpdate a{
    text-decoration: none;
}

.chantierAfficheUpdate, .chantierAfficheUpdate2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.afficher:hover{
    background-color: #346077;
    color: white;
}

.afficher{
    display: flex;
    justify-content: center;
    margin-block: 5%;
    margin-inline: auto;
    font-family: 'Average Sans', sans-serif;
    font-size: 18px;
    color: black;
    width: 8%;
    border-radius: 8px;
    min-width: 100px;
    max-width: 150px;
}

.cardupdate{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    font-family: 'Average Sans', sans-serif;
    font-size: 18px;
    color: aliceblue;
    
}

.imageCardUpdate{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-block: 5%;
}

.imageAvant, .imageApres{
    width: 35%;
    text-align: center;
}

.imageAvant img, .imageApres img{
    width: 100%;
    height: 125px;
    object-fit:cover;
    border-radius: 16px;
}

.imageAvantUp, .imageApresUp{
    width: 45%;
    text-align: center;
}

.imageAvantUp img, .imageApresUp img{
    width: 100%;
    height: 250px;
    object-fit:cover;
    border-radius: 16px;

}

.inputHidden{
    visibility: hidden;
    width: 0px;
}

.updateForm{
    display: flex;
    justify-content: center;
    background-color: #346077;
    width: 60%;
    border-radius: 16px;
    min-width: 300px;
}

.slideChantierUpdate{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10%;
    max-width: 1350px;
}

.titleAffiche{
    text-align: center;
    margin:20px;
    font-family: 'Average Sans', sans-serif;
    font-size: 24px;
    
}

.updateCardPost{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #346077;
    margin-bottom:3%;
    margin-inline: 3px;
    border-radius: 12px;
    font-family: 'Average Sans', sans-serif;
    font-size: 18px;
    color: aliceblue;
}

.positionDiv{
    display: flex;
    margin: 3px;
    width: 60%;
}

.imageDivUpdate{
    width: 100%;
    border-radius: 16px;
}

.updOrDelete{
    margin-bottom: 3px;
}

.mainUpdateAdmin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divUpdateCardModifer{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1400px;
}

.selectChantier{
    width: 100%;
    text-align: center;
}

.inputModifier{
    border-radius: 4px;
    padding-inline: 2px;
    text-align: center;
    max-width: 50%;
    margin: 2px;
}

.areaModifier{
    width: 80%;
    height: 100px;
    font-family: 'Average Sans', sans-serif;
    font-size: 18px;
    padding-inline:2px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .imageCardUpdate{
        flex-direction: column;
        align-items: center;
    }
    .imageDivUpdate{
        width: 100%;
    }
    .imageAvant,.imageApres{
        width: 60%;
        max-width: 150px;
    }
    .imageAvantUp,.imageApresUp{
        min-width: 125px;
    }

    .updateCardPost{
        width: 80%;
        min-width: 200px;

    }

    .ulUpdate{
        flex-direction: column;
        align-items: center;
    }
    .ulUpdate li{
        white-space:nowrap;
    }

    .updateForm{
        min-width:200px;

    }

    .imageAvantUp img, .imageApresUp img{
        height: 125px;
    }


}
